<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074585760443-87qttmsce8jf8fvqn58h54cmrk34e917.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074585760443-87qttmsce8jf8fvqn58h54cmrk34e917</string>
	<key>API_KEY</key>
	<string>AIzaSyC4xU0YaESsmqZDTHQ3khyG54rQynCn6t4</string>
	<key>GCM_SENDER_ID</key>
	<string>1074585760443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.travel-bug</string>
	<key>PROJECT_ID</key>
	<string>travelbug-7eda0</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbug-7eda0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074585760443:ios:b7565443a48900c4da6f9e</string>
</dict>
</plist>